<ul class="nav nav-tabs">
  <li class="active"><a href="#">Hot</a></li>
  <li><a href="#">New</a></li>
</ul>
<dl>
	<% @posts.each do |post| %>
	  <dt>
	  	<% if post.url %>

	  	<a href="<%= post.url %>"><%= post.title %></a>
	  	<% end %>
	  </dt>
	  <dd>...</dd>
	<% end %>
</dl>